
@font-face {
    font-family: 'GothamBoldRegular';
    src: url('../fonts/gotham/gotham-bold-webfont.eot');
    src: url('../fonts/gotham/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-bold-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-bold-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-bold-webfont.svg#GothamBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamBookRegular';
    src: url('../fonts/gotham/gotham-book-webfont.eot');
    src: url('../fonts/gotham/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-book-webfont.svg#GothamBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamMediumRegular';
    src: url('../fonts/gotham/gotham-medium-webfont.eot');
    src: url('../fonts/gotham/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-medium-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-medium-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-medium-webfont.svg#GothamMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamBlackRegular';
    src: url('../fonts/gotham/gotham-black-webfont.eot');
    src: url('../fonts/gotham/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-black-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-black-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-black-webfont.svg#GothamBlackRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'GothamLightRegular';
    src: url('../fonts/gotham/gotham-light-webfont.eot');
    src: url('../fonts/gotham/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-light-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-light-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-light-webfont.svg#GothamLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  min-height: 2000px;
  background-color: #f5f5f5;
  font-family: 'GothamBoldRegular', sans-serif;
}

*, *:before, *:after {box-sizing:  border-box !important;}


.row-grid {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.item {
 display: inline-block;
 width:  100%; 
}

.well {
 min-height: 80px;
 position:relative;
 display: block;
 -moz-border-radius: 0px;
 -webkit-border-radius: 0px 0px 4px 4px;
 border-radius: 0px 0px 4px 4px;
 border-top:    0px solid  #e3e3e3;
 border-right:  1px solid #e3e3e3;
 border-bottom: 1px solid #e3e3e3;
 border-left:   1px solid  #e3e3e3;

}
.descripcion{
    padding-left: 5px;
    padding-top: 60px;
    padding-right: 5px;
    padding-bottom: 10px;
    font-family: 'GothamBookRegular', sans-serif;
}

.image-radio-top {
	-moz-border-radius: 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	min-height: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border-top:    1px solid  #e3e3e3;
	border-right:  1px solid #e3e3e3;
	border-bottom: 0px solid #e3e3e3;
	border-left:   1px solid  #e3e3e3;
	width: 100%;
}

.yamm .container {
    position: static;
}

.yamm .container .dropdown-menu {
    left: 0;
    text-align: center;
    width: 100%;
}

.yamm .dropdown-menu > li {
    display: inline-block;   
}


.fixed-nav{ 
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999; 
}


/*Optional styles, Added for demo*/

.content-wrap{
	min-height: 1000px; /*Added to get browse scroll- demo*/
}

.topmargin{
	margin-top: 83px;
}


.social {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}




@media (min-width:768px) { 
 .navbar > .container {
    text-align: center;
 }
 .navbar-header {
    float: none;
    display: inline-block;
 }
 .navbar-brand {
    float: none;
    display: inline-block;
 }
 .navbar .navbar-nav {
    float: none;
    display: inline-block;
    clear: none;
 }
 .navbar .navbar-nav > li {
    float: none;
    display: inline-block;
 }
 .navbar .navbar-nav > li li {
    text-align: left
 }
 /*add id of centerednav on the collapse or it won't work*/
 .collapse.navbar-collapse#menu-navbar-collapse {
    float: none;
    display: inline-block!important;
    width: auto;
    clear: none;
 }
}


.icon_list li a i.fa-heart-o {
    background: #F79F8B;
}

.icon_list li a i.fa-eye {
    background: #8BD5E0;
}

.icon_list li a i.fa-comment {
    background: #8BD5E0;
}

.icon_list li a i.fa-check {
    background: #8BE08E;
    /*FFC476*/
}

.list-unstyled {
    margin: 0;
    list-style: none;
    display: block;
    margin-bottom: 0px;
}

.icon_list li a i {
    font-size: 24px;
    color: #885044;
    display: block;
    padding: 12px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_list li {
    /*display: inline-block;*/
    display:block;
    float:left;
    text-align: center;
    width: 50%;
    
}

.iconos-fotos{
    width: 100%;
    height: 48px;
	border-top:    0px solid  #e3e3e3;
    border-right:  1px solid #e3e3e3;
    border-bottom: 0px solid #e3e3e3;
    border-left:   1px solid  #e3e3e3;
}


.thecard {

  display: block;
  background-color: #fff;
  border-radius: 4px;

}

.card-img {
     width:100%;
position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
 
}

.card-img img {
  width:100%;
  border-radius: 4px 4px 0px 0px;
}

.card-caption {
  position: relative;
  background: #ffffff;
  padding: 10px 5px 5px 10px;
  border-radius: 0px 0px 4px 4px;
  color: #3c3c3b;
  text-decoration: none;
  margin-bottom: 20px;
  border-top: 0px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}
.card-caption:hover {
  color: #000;
  text-decoration: none;
}

.card-outmore {
  padding: 10px 25px 10px 25px;
  border-radius: 0px 0px 4px 4px;
  border-top: 1px solid #e0e0e0;
  background: #efefef;
  color: #222;
  display: inline-table;
  width: 100%;
  transition: 400ms ease;
}
.card-outmore h5 {
  float: left;
}
.card-outmore i {
  float: right;
}

span.date {
  font-family: 'GothamBookRegular', sans-serif;
  font-size: 10px;
}


.heart-btn {
  font-size: 18px;
  background: #c9302c;
  color: #fff;
  padding: 13px 15px;
  border-radius: 50em;
  position: absolute;
  right: 70px;
  top: -22px;
  box-shadow: 0 2px 1px rgba(0,0,0,.2);
  transition: 400ms ease;
}

.heart-btn:hover {
  font-size: 18px;
  background: #be1621;
  color: #fff;
  padding: 13px 15px;
  border-radius: 50em;
  position: absolute;
  right: 70px;
  top: -22px;
  box-shadow: 0 4px 5px rgba(0,0,0,.3);
}

.comment-btn {
  font-size: 18px;
  background: #c9302c;
  color: #fff;
  padding: 13px 15px;
  border-radius: 50em;
  position: absolute;
  right: 15px;
  top: -22px;
  box-shadow: 0 2px 1px rgba(0,0,0,.2);
  transition: 400ms ease;
}

.comment-btn:hover {
  font-size: 18px;
  background: #be1621;
  color: #fff;
  padding: 13px 15px;
  border-radius: 50em;
  position: absolute;
  right: 15px;
  top: -22px;
  box-shadow: 0 4px 5px rgba(0,0,0,.3);
}

#outmore-icon {
  border:1px solid ;
  padding: 1px 6px;
  border-radius: 50em;
}


.badge-danger-comment {
    background-color: #fff;
}
.badge-comment {
    position: absolute;
    top: -24px;
    right: 7px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #db5565;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
    font-family: 'GothamLightRegular', sans-serif;
}

.badge-danger-heart {
    background-color: #fff;
}
.badge-heart {
    position: absolute;
    top: -24px;
    right: 60px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #db5565;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
    font-family: 'GothamLightRegular', sans-serif;
}


.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}

.ribbon-green {
  font-family: 'GothamBoldRegular', sans-serif;
  color: #FFF;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #be1621;
  color: #FFF;
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}